<img src="https://i.postimg.cc/XN50bBwf/warning.png" class="warning" alt="">

<div class="confirm-deletion">
  <h5>Are you sure you want to delete the job posting "{{job.title}}"?</h5>
</div>

<form method="POST">
  <button class="d-grid gap-2 col-6 mx-auto btn btn-danger">Confirm Deletion</button>
</form>
