<h1>Update a job</h1>

<form method="POST">
  <label for="input-title">Title</label>
  <input type="text" id="input-title" name="title" placeholder="Title" required value="{{job.title}}"/>

  <label for="input-url">URL</label>
  <input type="url" id="input-url" name="url" placeholder="URL" required value="{{job.url}}"/>

  <label for="input-difficulty">Difficulty</label>
  <input type="range" min="1" max="5" step="1" id="input-difficulty" name="difficulty" required value="{{job.difficulty}}">

  <label for="input-image">Image</label>
  <input type="url" id="input-image" name="image" placeholder="URL for Image" value="{{job.image}}">

  <button>Update job</button>
</form>
